/* src/css/heartrateZoneOverlay.css */

.heartrate-zone-overlay {
  position: absolute;
  top: 1%;
  left: 50%;
  width: 80px;
  height: 80px;
  pointer-events: none;
  z-index: 1001;
  background: none; 
}

.heartrate-zone-ring {
  transform-origin: 40px 40px;
  /*animation-name: pulse;
  animation-iteration-count: infinite;*/
}
.heartrate-zone-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  text-shadow: 0 0 5px rgba(0,0,0,0.7);
  text-align: center;
}

.heartrate-zone-text div:first-child {
  font-size: 18px;
  line-height: 1;
}

.heartrate-zone-zone-label {
  font-size: 10px;
  margin-top: 2px;
  opacity: 0.8;
}

@keyframes pulse {
  0%   { transform: scale(1);   opacity: 0.7; }
  50%  { transform: scale(1.1); opacity: 1;   }
  90% { transform: scale(1);   opacity: 0.7; }
}
